// main stylesheet

//import bootstrap sass
// Custom.scss
// Option A: Include all of Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/devicon/devicon.min.css";
@import "../../node_modules/glightbox/dist/css/glightbox.min.css";

//custom icon sizes same as FA

.di-xs {
    font-size: 0.75em;
}
.di-sm {
    font-size: 0.875em;
}
.di-lg {
    font-size: 1.33em;
}
.di-2x {
    font-size: 2em;
}
.di-3x {
    font-size: 3em;
}
.di-4x {
    font-size: 4em;
}
.di-5x {
    font-size: 5em;
}
.di-6x {
    font-size: 6em;
}
.di-7x {
    font-size: 7em;
}
.di-8x {
    font-size: 8em;
}
.di-9x {
    font-size: 9em;
}
.di-10x {
    font-size: 10em;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.rounded-lg {
    border-radius: 15px;
}
